<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.domain.category.mapper.CategoryMapper">

    <resultMap id="CategoryResult" type="com.example.backend.domain.category.entity.CategoryEntity">
        <id column="id" property="categoryId" javaType="java.util.UUID" typeHandler="com.example.backend.global.mybatis.UUIDTypeHandler"/>
        <result column="category_name" property="categoryName"/>
        <result column="created_dt"  property="createdDt"   javaType="java.time.Instant"/>
        <result column="updated_dt"  property="updatedDt"   javaType="java.time.Instant"/>
        <result column="created_id"  property="createdId"   javaType="java.util.UUID" typeHandler="com.example.backend.global.mybatis.UUIDTypeHandler"/>
        <result column="updated_id"  property="updatedId"   javaType="java.util.UUID" typeHandler="com.example.backend.global.mybatis.UUIDTypeHandler"/>
    </resultMap>

    <select id="findById" parameterType="string" resultType="string">
        SELECT category_name
        FROM  category
        WHERE id = #{categoryId, jdbcType=BINARY, typeHandler=com.example.backend.global.mybatis.UUIDTypeHandler}
    </select>

    <select id="findAllCategory" resultType="com.example.backend.domain.category.entity.CategoryEntity">
        SELECT id, category_name
        FROM category
    </select>

    <select id="findIdByCategoryName" parameterType="map" resultType="java.util.UUID">
        SELECT id
        FROM category
        WHERE category_name = #{categoryName}
    </select>

</mapper>